<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Success</title>
    <script>
        // Перенаправление через 5 секунд
        setTimeout(function() {
            window.location.href = "/login/";
        }, 5000);
    </script>
</head>
<body>
    <h1>Password Reset Successful</h1>
    <p>Your password has been successfully reset. You will be redirected to the login page in 5 seconds.</p>
    <a href="/login/">
        <button>Login</button>
    </a>
</body>
</html>