<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <p><strong>Username:</strong> {{ username }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <a href="/user/">Edit Profile</a>  <!-- Ссылка на страницу управления пользователями -->
    <br>
    <a href="/logout/">Logout</a>  <!-- Ссылка на выход -->
    <br>
    <a href="/reset-password/">Reset Password</a>  <!-- Ссылка на сброс пароля -->
</body>
</html>